<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.engwordlockscreen">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".WordApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EngWordLockScreen">
        <activity
            android:exported="true"
            android:name="com.example.engwordlockscreen.presentation.splash.components.LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.engwordlockscreen.presentation.lockscreen.components.LockScreenActivity"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:taskAffinity="com.example.engwordlockscreen.lockscreen" />
        <activity android:name="com.example.engwordlockscreen.presentation.main.components.MainActivity">
        </activity>
        <service android:name="com.example.engwordlockscreen.presentation.lockscreen.LockScreenService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            android:exported="false" /> // exported = 타 어플리케이션의 해당 서비스 호출 가능 여부

    </application>

</manifest>